@media screen and (min-width: 600px) {
  .sidebar-ct {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .main-ct {
    flex-direction: row;
  }
  .sidebar-ct {
    grid-template-columns: repeat(2, 1fr);
    width: 25%;
    height: auto;
    padding: 1rem;
  }
}
